<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>MoGO</title>
</head>

<body>
    <header>
        <div class="header-column">
            <div class="logo-nav">
                <div class="logo">MoGo</div>
                <nav>
                    <div class="nav-item focused">about</div>
                    <div class="nav-item">service</div>
                    <div class="nav-item">work</div>
                    <div class="nav-item">blog</div>
                    <div class="nav-item">contact</div>
                    <div class="nav-item">
                        <img src="./images/SHOPPING CART.png" alt="Shoping cart">
                    </div>
                    <div class="nav-item">
                        <img src="./images/MAGNIFYING GLASS.png" alt="Magnifying glass">
                    </div>
                </nav>
            </div>
            <div class="header-content">
                <div class="creative-template">
                    Creative Template
                </div>
                <div class="welcome-mogo">
                    welcome to mogo
                </div>
                <button class="btn-learnmore">learn more</button>

            </div>
            <div class="slider">
                <div class="slider-item">
                    <div class="slider-num-subitem">01</div>
                    <div class="slider-text-subitem">intro</div>
                </div>
                <div class="slider-item">
                    <div class="slider-num-subitem">02</div>
                    <div class="slider-text-subitem">work</div>
                </div>
                <div class="slider-item">
                    <div class="slider-num-subitem">03</div>
                    <div class="slider-text-subitem">about</div>
                </div>
                <div class="slider-item">
                    <div class="slider-num-subitem">04</div>
                    <div class="slider-text-subitem">contacts</div>
                </div>
            </div>
        </div>
    </header>
    <section class="about">
        <div class="what-we-do">
            What we do
        </div>
        <div class="story">Story about us</div>
        <div class="text">
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </span>
        </div>
        <div class="imgs">
            <div class="img-item" style="background-image: url(./images/Layer44.png);">
                <div class="img-wrap">
                    <img src="./images/USERS.png" alt="">
                </div>
                <span>SUPER TEAM</span>
            </div>
            <div class="img-item" style="background-image: url(./images/Rectangle6copy.png);">
            </div>
            <div class="img-item" style="background-image: url(./images/Layer41.png);">
            </div>
        </div>
    </section>
    <section class="facts">
        <div class="content">
            <div class="content-item">
                <span class="num">42</span>
                <span class="desc">web design projects</span>
            </div>
            <div class="content-item">
                <span class="num">123</span>
                <span class="desc">happy client</span>
            </div>
            <div class="content-item">
                <span class="num">15</span>
                <span class="desc">award winner</span>
            </div>
            <div class="content-item">
                <span class="num">99</span>
                <span class="desc">cup of coffe</span>
            </div>
            <div class="content-item">
                <span class="num">24</span>
                <span class="desc">members</span>
            </div>
        </div>
    </section>
</body>

</html>