<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>MoGO</title>
</head>

<body>
    <header>
        <div class="header-column">
            <div class="logo-nav">
                <div class="logo">MoGo</div>
                <nav>
                    <div class="nav-item focused">about</div>
                    <div class="nav-item">service</div>
                    <div class="nav-item">work</div>
                    <div class="nav-item">blog</div>
                    <div class="nav-item">contact</div>
                    <div class="nav-item">
                        <img src="./images/SHOPPING CART.png" alt="Shoping cart">
                    </div>
                    <div class="nav-item">
                        <img src="./images/MAGNIFYING GLASS.png" alt="Magnifying glass">
                    </div>
                </nav>
            </div>
            <div class="header-content">
                <div class="creative-template">
                    Creative Template
                </div>
                <div class="welcome-mogo">
                    welcome to mogo
                </div>
                <button class="btn-learnmore">learn more</button>

            </div>
            <div class="slider">
                <div class="slider-item">
                    <div class="slider-num-subitem">01</div>
                    <div class="slider-text-subitem">intro</div>
                </div>
                <div class="slider-item">
                    <div class="slider-num-subitem">02</div>
                    <div class="slider-text-subitem">work</div>
                </div>
                <div class="slider-item">
                    <div class="slider-num-subitem">03</div>
                    <div class="slider-text-subitem">about</div>
                </div>
                <div class="slider-item">
                    <div class="slider-num-subitem">04</div>
                    <div class="slider-text-subitem">contacts</div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>