/* tableof contents
    1. fonts
    2. global styles
*/


/*  ==============
        fonts
    ============== */

@font-face {
    font-family: "Montserrat-regular";
    src: url("./fonts/Montserrat-regular.ttf");
}


@font-face {
    font-family: "Montserrat-bold";
    src: url("./fonts/Montserrat-bold.ttf");
}

@font-face {
    font-family: "KaushanScript";
    src: url("./fonts/KaushanScript-Regular.otf");
}

@font-face {
    font-family: "roboto-regular";
    src: url("./fonts/roboto-regular.ttf");
}

/*  =============
    global styles
    ============= */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


/*  ==============
        layout
    ============== */
header {
    background-image: linear-gradient(0deg, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9)), url(./images/picture.png);
    width: 1920px;
    height: 1000px;
    display: flex;
    justify-content: center;
    color: #fff;
    position: relative;
}


.header-column {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}

.logo {
    font-family: "Montserrat-bold", "Verdana bold", "Ebrima bold";
    font-size: 30pt;
}

nav {
    display: flex;
    width: 625px;
    justify-content: space-between;
}

.nav-item {
    font-family: "Montserrat-regular", "Verdana regular", "Ebrima bold";
    font-size: 14pt;
    font-variant-caps: all-petite-caps;
}

.focused {
    color: #fce38a;
    text-decoration: none;
    position: relative;
}

.focused:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -12px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #fce38a;
}

.header-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
}

.creative-template {
    font-family: "KaushanScript";
    font-size: 72pt;
    text-align: center;
}

.welcome-mogo {
    font-family: "Montserrat-bold", "Verdana bold", "Ebrima bold";
    font-size: 150pt;
    font-variant-caps: all-petite-caps;
    text-align: center;
    margin-top: 70px;
    line-height: 140px;
    position: relative;
}

.welcome-mogo:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -73px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 60px;
    background: #fff;
}

.btn-learnmore {
    font-variant-caps: all-petite-caps;
    margin-top: 125px;
    width: 160px;
    height: 40px;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    border: solid white;
    border-width: 3px;
    font-family: "Montserrat-bold", "Verdana bold", "Ebrima bold";
    font-size: 14pt;
}

.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 85pt;
}


.slider-item {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    position: relative;
    min-width: 200pt;
}

.slider-item::before {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 45px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #fff;
}

.slider-num-subitem {
    font-family: "Montserrat-bold", "Verdana bold", "Ebrima bold";
    font-size: 24pt;
    margin-right: 10pt;
}

.slider-text-subitem {
    font-family: "Montserrat-regular", "Verdana regular", "Ebrima";
    font-size: 18pt;
    font-variant-caps: all-petite-caps;
}

.about{    
    width: 1920px;
    height: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content:start;
    align-items: center;
}

.what-we-do{
    font-family: KaushanScript;
    font-size: 24pt;
    margin-top: 100pt;
}

.story{
    font-family: "Montserrat-bold", "Verdana bold", "Ebrima bold";
    font-size: 30pt;
    font-variant-caps: all-petite-caps;
    margin-top: 25pt;
    position:relative;
}

.story:after{    
    position: absolute;
    content: '';
    height: 3px;
    width: 60px;
    bottom: -40px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #f38181;
}

.about>.text{
    width: 960px;
    font-family: "roboto-regular";
    font-size: 15pt;
    color: #999999;
    line-height: 24pt;
    text-align: center;
    margin-top: 90px;
}

.imgs{
    width: 1200px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.imgs>.img-item{
    display: flex;
    width: 380px;
    height: 250px;
    /*background-image: linear-gradient(0deg, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9)), url(./images/Layer44.png);*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-item>.img-wrap{
    width: 32px;
    height: 23px;
    overflow: hidden;
    padding-bottom: 0;
}

.img-item>span{
    font-family: "Montserrat-bold", "Verdana bold", "Ebrima bold";
    font-size: 18pt;
    color: #fff;
    margin-top: 11px;
}

.facts{
    height: 270px;
    width: 1920px;
    background-color: #95e1d3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facts>.content{
    display: flex;
    width: 1200px;
    justify-content: space-between;
}

.content-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 270px;
    width: 240px;
}

.content-item>.num{
    font-family: "Montserrat-bold", "Verdana bold", "Ebrima bold";
    font-size: 72pt;
    color: #fff;
}

.content-item>.desc{
    font-family: "Montserrat-regular", "Verdana", "Ebrima";
    font-size: 14pt;
    color: #fff;
    font-variant-caps: all-petite-caps;
}